In [2]:
import pandas as pd

In [3]:
actural_time = pd.concat([pd.read_csv('../data/vehiclePosition01.csv'),pd.read_csv('../data/vehiclePosition02.csv'),pd.read_csv('../data/vehiclePosition03.csv'),pd.read_csv('../data/vehiclePosition04.csv'),pd.read_csv('../data/vehiclePosition05.csv'),pd.read_csv('../data/vehiclePosition06.csv'),pd.read_csv('../data/vehiclePosition07.csv'),pd.read_csv('../data/vehiclePosition08.csv'),pd.read_csv('../data/vehiclePosition09.csv'),pd.read_csv('../data/vehiclePosition10.csv'),pd.read_csv('../data/vehiclePosition11.csv'),pd.read_csv('../data/vehiclePosition12.csv'),pd.read_csv('../data/vehiclePosition13.csv')])
actural_time.head()

            Time  LineID  DirectionID  DistanceFromPoint  PointID
0  1630914886924       1         8161                  1     8012
1  1630914886924       1         8162                  0     8142
2  1630914886924       1         8162                  0     8282
3  1630914886924       1         8731                  0     8111
4  1630914886924       1         8162                  1     8062

In [4]:
def unix_to_datetime(unix_time):
    return pd.to_datetime(unix_time,unit="ms",origin="unix")

In [8]:
actual_time_stop = actural_time.loc[actural_time['PointID']==3921]
actual_time_stop['LineID'].unique()

array([60, 59, 80])

In [12]:
calendar = pd.read_csv('../data/gtfs3Sept/calendar.csv')
calendar_sunday = calendar[calendar['sunday']==1]
calendar_sunday.sort_values(by=['start_date'],inplace=True)
calendar_sunday

/var/folders/v1/m2nqhx3d4yv9mjbpndrlsck00000gn/T/ipykernel_6316/1094425423.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calendar_sunday.sort_values(by=['start_date'],inplace=True)

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
2,236988602,0,0,0,0,0,0,1,20210829,20210829
196,235572601,0,0,0,0,0,0,1,20210829,20210829
146,233813600,0,0,0,0,0,0,1,20210829,20210829
310,234031600,0,0,0,0,0,0,1,20210829,20210829
76,233931601,0,0,0,0,0,0,1,20210829,20210829
...,...,...,...,...,...,...,...,...,...,...
91,238330602,0,0,0,0,0,0,1,20210912,20210912
150,238129601,0,0,0,0,0,0,1,20210912,20210912
229,238314602,0,0,0,0,0,0,1,20210912,20210912
306,238243603,0,0,0,0,0,0,1,20210912,20210912
297,238273602,0,0,0,0,0,0,1,20210912,20210912