# The example below gives the schedule splitted in the time groupes of the line 8 direction ROODEBEEK at EMPAIN stop on a weekday from 23/08/2021 to 31/08/2021

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import numpy as np
pd.options.display.max_rows = 9999

In [3]:
stop_times = pd.read_csv("Data/stop_times.csv")
# stop_times.head()
stop_times = stop_times.loc[stop_times['stop_id'] == '5271F'	].sort_values(by='arrival_time',ascending = True)
stop_times = stop_times[stop_times['trip_id'].astype(str).str.contains('236487051')]
# stop_times
#This will only deal with the time which is less than 24h. For excess part, we need to count separately
stop_times['arrival_time'] = pd.to_datetime(stop_times['arrival_time'], errors='coerce')
stop_times
time_group = stop_times.groupby(stop_times['arrival_time'].dt.hour).size().reset_index(name='count')
time_group
#Here we count for time more than 24h:
excess_part = stop_times['departure_time']
excess_part
# for i in myDuration:
#     print(i)
count_24 = 0
count_25 = 0
for i in [x for x in excess_part.str.split(":")]:
    if i[0]==('24'):
        count_24 += 1
    if i[0]==('25'):
        count_25 += 1

time_group = time_group.append({'arrival_time':24,'count':count_24},ignore_index = True)
time_group = time_group.append({'arrival_time':25,'count':count_25},ignore_index = True)
time_group

    arrival_time  count
0            5.0      3
1            6.0      5
2            7.0      5
3            8.0      8
4            9.0      7
5           10.0      6
6           11.0      6
7           12.0      6
8           13.0      6
9           14.0      6
10          15.0      7
11          16.0      7
12          17.0      8
13          18.0      7
14          19.0      7
15          20.0      6
16          21.0      4
17          22.0      4
18          23.0      4
19          24.0      4
20          25.0      1